In [132]:
from pymongo import MongoClient
from bson.objectid import ObjectId
from datetime import date
from datetime import datetime
from bson.son import SON
client = MongoClient(
    'mongodb://admin:admin1234@ds231207.mlab.com:31207/erpdata?retryWrites=false')

db = client.erpdata

In [133]:
property_info_collection = db['property_info']

transfer_details_collection = db['transfer_details']

tenant_details_collection = db['tenant_details']

rent_details_collection = db['rent_details']

In [15]:
update_id = {'_id': ObjectId('5e6f2f5dd3f6d83c91c379b5')}
new_values = {'$set': {'address': 'tu2mahara ghr', 'type': 'ghr', 'bedroom': '1', 'bathroom': '1', 'sqft': '15', 'rent': '10', 'detail': 'mat ao', 'status': True}}

In [16]:
result = property_info_collection.update_one(update_id, new_values)
result.modified_count

1

In [14]:
update_id

{'_id': ObjectId('5e6f2f5dd3f6d83c91c379b5')}

In [30]:
data = {'_id': {'$oid': '5e6f2f5dd3f6d83c91c379b5'}, 'address': 'shabbir', 'type': 'House', 'bedroom': '1.5', 'bathroom': '0.5', 'sqft': '15', 'rent': '5000', 'detail': 'Jani Boht hard life', 'status': True, 'owner': 'as', 'tennat': 'ass', 'tAddress': 'sas', 'tPhone': '32', 'tenantRent': '6000', 'Detail': 'sdsddsds', 'leaseStartDate': '2020-03-13', 'leaseEndDate': '2020-03-05'}

In [31]:
id = data['_id']['$oid']
del data['_id']
transfer_info = {'bldgId':id, 'start':data.pop('leaseStartDate'), 'end':data.pop('leaseEndDate'), 'rent':data.pop('tenantRent')}

In [33]:
result = tenant_details_collection.insert_one(data)

{'bldgId': '5e6f2f5dd3f6d83c91c379b5',
 'start': '2020-03-13',
 'end': '2020-03-05',
 'rent': '6000'}

In [134]:
property_info_collection.drop()
transfer_details_collection.drop()
tenant_details_collection.drop()
rent_details_collection.drop()

In [114]:
data = {'rentId': '5e731ee777c28badbb4feb2b', 'slipId': '1b1aaad9-5b1b-4106-9723-98fdf6079ed4', 'Dates': ['2020-09', '2020-05', '2020-06'], 'rent': '40000'}

In [39]:
data

{'rentId': '5e731ee777c28badbb4feb2b',
 'slipId': '1b1aaad9-5b1b-4106-9723-98fdf6079ed4',
 'Dates': ['2020-05', '2020-06', '2020-08'],
 'rent': '40000'}

{'_id': ObjectId('5e731ee777c28badbb4feb2b'), 'tenantId': '5e7208ce31eac032ed199f10', 'bldgId': '5e72048731eac032ed199f0e', 'transferId': '5e731ee777c28badbb4feb2a'}

In [115]:
rent_id = {'_id': ObjectId(data['rentId'])}
data['Dates'].sort(key=lambda date: datetime.strptime(date, "%Y-%M"))

for values in data['Dates']:
    obj = {}
    obj['month'] = values
    obj['amount'] = data['rent']
    obj['id'] = data['slipId']
    obj['date'] = str(date.today())
    result = rent_details_collection.update_one(rent_id, {'$push': {'rent': obj}}, upsert=True)
new_values = {"$set": {'curMonth':data['Dates'][-1]}}
result = rent_details_collection.update_one(update_id, new_values, upsert=True)

In [116]:
result.modified_count

1

In [106]:
result.modified_count

1

In [64]:
rent_doc

{'tenantId': '5e7208ce31eac032ed199f10',
 'bldgId': '5e72048731eac032ed199f0e',
 'transferId': '5e731ee777c28badbb4feb2a',
 'curMonth': '2020-08',
 'rent': [{'month': '2020-05',
   'amount': '40000',
   'id': '1b1aaad9-5b1b-4106-9723-98fdf6079ed4',
   'date': '2020-03-20'},
  {'month': '2020-06',
   'amount': '40000',
   'id': '1b1aaad9-5b1b-4106-9723-98fdf6079ed4',
   'date': '2020-03-20'},
  {'month': '2020-08',
   'amount': '40000',
   'id': '1b1aaad9-5b1b-4106-9723-98fdf6079ed4',
   'date': '2020-03-20'}]}

In [63]:
rent_id = {'_id': ObjectId(data['rentId'])}
rent_doc = rent_details_collection.find_one(rent_id,{"rent": 1 ,"_id":0})
data['Dates'].sort(key=lambda date: datetime.strptime(date, "%Y-%M"))
rent_doc['curMonth'] = data['Dates'][-1]

if 'rent' in rent_doc:
    for values in data['Dates']:
        obj = {}
        obj['month'] = values
        obj['amount'] = data['rent']
        obj['id'] = data['slipId']
        obj['date'] = str(date.today())
        rent_doc['rent'].append(obj)
    
else:
    rent = []
    for values in data['Dates']:
        obj = {}
        obj['month'] = values
        obj['amount'] = data['rent']
        obj['id'] = data['slipId']
        obj['date'] = str(date.today())
        rent.append(obj)
    rent_doc['rent'] = rent
    
update_id = {'_id': ObjectId(data['rentId'])}
new_values = {"$set": rent_doc}
result = property_info_collection.update_one(update_id, new_values, upsert=True)

In [126]:
my = date.today()
print(my.typeof())

AttributeError: 'datetime.date' object has no attribute 'typeof'